<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<link rel="preload" href="/fonts/Raleway-Regular.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/Raleway-Bold.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/Raleway-Black.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/Lato-Regular.woff" as="font" crossorigin="anonymous">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#126dff">
<meta name="msapplication-TileColor" content="#126dff">
<meta name="theme-color" content="#ffffff">
<style class="js-async-backgrounds"></style>
{{#each alternateLinks as |alternateLink|}}
  <link rel="alternate" href="{{ alternateLink.link }}" hreflang="{{ alternateLink.name }}">
{{/each}}
<meta property="og:site_name" content="{{ siteName }}">
<meta property="og:title" content="{{ title }}">
<meta property="twitter:title" content="{{ title }}">
<meta property="og:type" content="{{ pageType }}">
<meta property="og:url" content="{{ fullUrl }}">
<meta property="og:locale" content="{{ currentLang.code_name }}">
{{#each alternateLinks as |alternateLink|}}
  {{#ifNotEquals alternateLink.name ../currentLang.code_name}}
    <meta property="og:locale:alternate" content="{{ alternateLink.withRegion }}">
  {{/ifNotEquals}}
{{/each}}
{{#if mainImage}}
  <meta property="og:image" content="{{ mainImage }}">
  <meta property="twitter:image" content="{{ mainImage }}">
{{/if}}
{{#if mainImageSize}}
  <meta property="og:image:width" content="{{ mainImageSize.width }}">
  <meta property="og:image:height" content="{{ mainImageSize.height }}">
{{/if}}
{{#if description}}
  <meta property="og:description" content="{{ description }}">
  <meta property="twitter:description" content="{{ description }}">
{{/if}}