<div class="pop-up-input {{ popUpInput.modClass }} pop-up hidden disabled" data-pop-up="{{ popUpInput.name }}" data-pop-up-event="{{ popUpInput.event }}" data-pop-up-set-position-to-button>
  <div class="pop-up-input__content" data-pop-up-content>
    <div class="field js-field">
      <label class="field__label" for="{{ popUpInput.modClass }}-input">{{ popUpInput.humanName }}</label>
      <input type="url" name="to_link" placeholder="{{ popUpInput.humanName }}" class="field__input" id="{{ popUpInput.modClass }}-input" autocomplete="off">
    </div>
    <!-- /.field -->
  </div>
  <!-- /.pop-up-input__content -->
</div>
<!-- /.pop-up-input -->