<div class="side-edit-panel js-for-replace-scrollbar">
  <div class="side-edit-panel__content">
    <div class="side-edit-panel__item">
      <div class="side-edit-panel__button click-extender editor-save-button" title="{{ lang 'save' }}" data-send-to-cloud-button="edit_page" data-send-to-cloud-properties="{{toRawString sendToCloudProperties }}" data-with-editorjs>
        <div class="side-edit-panel__cloud">☁</div>
      </div>
      <!-- /.side-edit-panel__button -->
    </div>
    <!-- /.side-edit-panel__item -->
    <div class="side-edit-panel__item">
      <div class="side-edit-panel__button click-extender" title="{{ lang 'other_languages' }}" data-pop-up-button="editing_language">
        {{{ directSvg.multilingual }}}
      </div>
      <!-- /.side-edit-panel__button -->
    </div>
    <!-- /.side-edit-panel__item -->
    <div class="side-edit-panel__item">
      <div class="side-edit-panel__button click-extender" title="{{ lang 'settings' }}" data-pop-up-button="page_settings_panel">
        {{{ directSvg.gear }}}
      </div>
      <!-- /.side-edit-panel__button -->
    </div>
    <!-- /.side-edit-panel__item -->
  </div>
  <!-- /.side-edit-panel__content -->
</div>
<!-- /.side-edit-panel -->