<!DOCTYPE html>
<html lang="{{ currentLang.code_name }}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/front.css{{ fileVersion }}">
    <link rel="stylesheet" href="/admin/resources/admin/public/css/admin.css{{ fileVersion }}">
  </head>
  <body>
    {{> header}}
    {{> logic}}
    {{{body}}}
    {{> bottom_logic}}
    <script src="/js/front.js{{ fileVersion }}" defer></script>
    <script src="/admin/resources/admin/public/js/admin.js{{ fileVersion }}" defer></script>
  </body>
</html>
