<!DOCTYPE html>
<html lang="{{ currentLang.code_name }}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/front.css{{ fileVersion }}">
    <link rel="stylesheet" href="/css/mini.css{{ fileVersion }}">
  </head>
  <body class="lang-{{ currentLang.code_name }}">
    <script>{{{ bodyViewClassSetter }}}</script>
    <div class="page">
      <div class="page__content">
        {{> logic}}
        {{{body}}}
      </div>
      <!-- /.page__content -->
      {{> footer}}
    </div>
    <!-- /.page -->
    <script src="/js/front.js{{ fileVersion }}" defer></script>
    {{#if accessToDebugScripts}}
      <script src="/admin/resources/admin/public/js/debug.js{{ fileVersion }}" defer></script>
    {{/if}}
  </body>
</html>
