<!DOCTYPE html>
<html lang="{{ currentLang.code_name }}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/front.css{{ fileVersion }}">
    <link rel="stylesheet" href="/css/mini.css{{ fileVersion }}">
    <link rel="preload" href="/fonts/Lato-Regular.ttf" as="font">
  </head>
  <body>
    {{> logic}}
    {{{body}}}
  </body>
  <script src="/js/front.js{{ fileVersion }}" defer></script>
</html>
