{{> side_edit_panel}}
{{> project_settings_panel}}

<main class="portfolio-item portfolio-item-page js-edit-portfolio-page" data-editor-properties="{{ editorProperties }}">
  <div class="portfolio-item__wrap">
    <div class="container-size">
      <div class="portfolio-item__header">
        <div class="portfolio-header portfolio-item__header">
          <a href="/portfolio" class="subtitle portfolio-header__subtitle">
            {{ lang 'portfolio' }}
            <span class="accent-slash">/</span>
          </a>
          <!-- /.subtitle -->
          <h1 class="page-title page-title_free-transform portfolio-header__title js-editor-field" contenteditable="true" data-placeholder="{{ lang 'title' }}" data-send-to-cloud-name="title" data-send-to-cloud-group="edit_project" data-multilingual="{{toString multilingual.title }}">
            {{ project.title }}
          </h1>
          <!-- /.page-title -->
          <div class="portfolio-descr portfolio-header__descr">
            <strong class="portfolio-descr__type"><span class="editor-inline-button js-project-type-output" data-pop-up-button="project_types" {{#if projectType}} data-project-type="{{ projectType.id }}" {{/if}} data-send-to-cloud-name="type_id" data-send-to-cloud-group="edit_project" data-send-to-cloud-attribute="data-project-type">{{iif projectType projectType.singular_name 'Тип проекта' }}</span>.</strong>
            <span class="portfolio-descr__main-text js-editor-field" contenteditable="true" data-placeholder="{{ lang 'short_descr' }}" data-send-to-cloud-name="descr" data-send-to-cloud-group="edit_project" data-multilingual="{{toString multilingual.descr }}">{{ project.descr }}</span>
          </div>
          <!-- /.portfolio-descr -->
          <div class="portfolio-header__links">
            <div class="text-link text-link_independent portfolio-header__link editor-pop-up-input-caller {{iif project.to_link '' 'editor-pop-up-input-caller_empty'}} js-to-link-button" data-pop-up-button="to_link">
              <span class="inline-click-extender" data-variations="{{ toLinkVariations }}">{{ toLinkText }}</span>
            </div>
            <a href="#about-creating" class="text-link text-link_independent portfolio-header__link" data-scroll-offset="70">
              <span class="inline-click-extender" data-variations="{{ creatingVariations }}">{{ creatingText }}</span>
            </a>
            <div class="text-link text-link_independent portfolio-header__link">
              <span class="inline-click-extender">{{ lang 'demo' }}</span>
            </div>
          </div>
          <!-- /.portfolio-header__links -->
        </div>
        <!-- /.portfolio-header -->
      </div>
      <!-- /.portfolio-item__header -->
    </div>
    <!-- /.container-size -->
    <div class="editor-intro-images">
      <div class="container-size">
        <div class="editor-intro-images__wrap">
          <div class="editor-intro-images__content">
            <div class="editor-intro-images__sections">
              
              <div class="editor-intro-images__section">
                <h2 class="editor-intro-images__title">{{ lang 'mobile_images' }}</h2>
                <!-- /.editor-intro-images__title -->
                <input type="hidden" name="intro_images" value="{{toString introImages.mobile }}" data-send-to-cloud-name="intro_images" data-send-to-cloud-group="edit_project">
                <div class="editor-intro-images__items js-editor-intro-images">
                  {{#repeat introImagesAmount.mobile}}
                    <div class="upload-file upload-file_mobile-image editor-intro-images__item {{iifEquals @index 3 'center' ''}} {{iifBigger @index introImagesDraftsStart.mobile 'disabled js-sample' ''}} {{iifInArray introImagesForOutput.mobile @index 'uploaded' ''}}" data-upload-file-preview="intro_images_{{ @index }}" data-group-file-previews="intro_images">
                      <div class="upload-file__content">
                        <input type="file" id="intro_images_{{ @index }}" class="disabled js-upload-files" data-project-id="{{ project.id }}" data-group-file="intro_images">
                        <label for="intro_images_{{ @index }}" class="upload-file__label portfolio-shadow {{iifBigger @index 6 'upload-file__label_additional' ''}}" title="{{ lang 'add' }}" data-upload-file-label>
                          <svg class="upload-file__plus" shape-rendering="crispEdges" viewBox="0 0 16 16" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0v16M0 8h16" stroke="#126DFF" stroke-width="2"/></svg>
                          {{#ifInArray introImagesForOutput.mobile @index}}
                            <img {{{inArray ../introImagesForOutput.mobile @index }}} alt="" class="upload-file__img img-cover">
                          {{/ifInArray}}
                        </label>
                        <!-- /.upload-file__label -->
                      </div>
                      <!-- /.upload-file__content -->
                      <div class="upload-file__remove" title="{{ lang 'remove' }}" onclick="removePreviewOfUploadedFile(this);">
                        {{{ directSvg.removeWhiteShadow }}}
                      </div>
                      <!-- /.upload-file__remove -->
                    </div>
                    <!-- /.upload-file -->
                  {{/repeat}}
                </div>
                <!-- /.editor-intro-images__items -->
              </div>
              <!-- /.editor-intro-images__section -->

              <div class="editor-intro-images__section {{iif hideDesktopImages 'disabled' '' }}" data-hide-on-project-types="{{ hideDesktopImagesForTypes }}">
                <h2 class="editor-intro-images__title">{{ lang 'desktop_images' }}</h2>
                <!-- /.editor-intro-images__title -->
                <input type="hidden" name="intro_desktop_images" value="{{toString introImages.desktop }}" data-send-to-cloud-name="intro_desktop_images" data-send-to-cloud-group="edit_project">
                <div class="editor-intro-images__items js-editor-intro-desktop-images">
                  {{#repeat introImagesAmount.desktop}}
                    <div class="upload-file upload-file_desktop-image editor-intro-images__item {{iifEquals @index 1 'center' ''}} {{iifBigger @index introImagesDraftsStart.desktop 'disabled js-sample' ''}} {{iifInArray introImagesForOutput.desktop @index 'uploaded' ''}}" data-upload-file-preview="intro_desktop_images_{{ @index }}" data-group-file-previews="intro_desktop_images">
                      <div class="upload-file__content">
                        <input type="file" id="intro_desktop_images_{{ @index }}" class="disabled js-upload-files" data-project-id="{{ project.id }}" data-group-file="intro_desktop_images">
                        <label for="intro_desktop_images_{{ @index }}" class="upload-file__label portfolio-shadow {{iifBigger @index 2 'upload-file__label_additional' ''}}" title="{{ lang 'add' }}" data-upload-file-label>
                          <svg class="upload-file__plus" shape-rendering="crispEdges" viewBox="0 0 16 16" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0v16M0 8h16" stroke="#126DFF" stroke-width="2"/></svg>
                          {{#ifInArray introImagesForOutput.desktop @index}}
                            <img {{{inArray ../introImagesForOutput.desktop @index }}} alt="" class="upload-file__img img-cover">
                          {{/ifInArray}}
                        </label>
                        <!-- /.upload-file__label -->
                      </div>
                      <!-- /.upload-file__content -->
                      <div class="upload-file__remove" title="{{ lang 'remove' }}" onclick="removePreviewOfUploadedFile(this);">
                        {{{ directSvg.removeWhiteShadow }}}
                      </div>
                      <!-- /.upload-file__remove -->
                    </div>
                    <!-- /.upload-file -->
                  {{/repeat}}
                </div>
                <!-- /.editor-intro-images__items -->
              </div>
              <!-- /.editor-intro-images__section -->

            </div>
            <!-- /.editor-intro-images__sections -->
          </div>
          <!-- /.editor-intro-images__content -->
        </div>
        <!-- /.editor-intro-images__wrap -->
      </div>
      <!-- /.container-size -->
    </div>
    <!-- /.editor-intro-images -->
  </div>
  <!-- /.portfolio-item__wrap -->
  <div id="about-creating" class="portfolio-item__content js-portfolio-content" data-editorjs="project_text" data-multilingual="{{toString multilingual.text }}"></div>
</main>
<!-- /.portfolio-item -->