<div class="container-size text-h{{{ level }}}-wrap text-block-animation">
  <h{{{ level }}} class="text-h{{{ level }}} text-container">
    {{ text }}
  </h{{{ level }}}>
  <!-- /.text-h{{{ level }}} -->
</div>
<!-- /.container-size -->