<section class="hello-section">
  <div class="container-size">
    <div class="hello-section__wrap header-offset">
      <div class="void"></div>
      <div class="hello-section__content">
        <div class="page-title-block">
          <div class="subtitle page-title-block__subtitle">
            {{ lang 'site_focus' }}
          </div>
          <!-- /.subtitle -->
          <h1 class="page-title page-title-block__title">
            <span class="page-title__line page-title__line_separated">{{ lang 'site_tagline_first_line' }}</span>
            <span class="page-title__line page-title__line_separated page-title__line_accent">{{ lang 'site_tagline_second_line' }}</span>
          </h1>
          <!-- /.page-title -->
          <button class="accent-button">
            {{ lang 'cta_button' }}
          </button>
          <!-- /.accent-button -->
        </div>
        <!-- /.page-title-block -->
      </div>
      <!-- /.hello-section__content -->
      <div class="page-menu bottom-screen-offset">
        <a href="/portfolio" class="page-menu__item">
          {{ lang 'portfolio' }}
        </a>
        <!-- /.page-menu__item -->
        <a href="/how-we-are-working" class="page-menu__item">
          {{ lang 'how_we_are_working' }}
        </div>
        <!-- /.page-menu__item -->
      </div>
      <!-- /.page-menu -->
    </div>
    <!-- /.hello-section__wrap -->
  </div>
  <!-- /.container-size -->
</section>
<!-- /.hello-section -->