<main class="home-page js-home-page">
  <section class="hello-section">
    <div class="container-size">
      <div class="hello-section__wrap header-offset js-hello-section-wrap">
        <div class="void"></div>
        <div class="hello-section__content">
          <div class="page-title-block">
            <div class="subtitle page-title-block__subtitle">
              {{ lang 'site_focus' }}
            </div>
            <!-- /.subtitle -->
            <h1 class="page-title page-title_separated-lines page-title-block__title page-title_variant-{{ helloTitleVariant }}">
              <span class="page-title__line">
                {{ helloTitle.firstLine }}

                {{#ifEquals helloTitleVariant 0 }}
                  <div class="page-title__arrow-block page-title__arrow-block_right page-title__arrow-block_desktop">
                    <img src="/img/right-arrow.svg" alt="" class="page-title__arrow page-title__arrow_right js-right-arrow">
                  </div>
                {{/ifEquals}}
              </span>
              <span class="page-title__line page-title__line_accent">
                {{#ifEquals helloTitleVariant 0 }}
                  <div class="page-title__arrow-block page-title__arrow-block_left">
                    <img src="/img/right-arrow.svg" alt="" class="page-title__arrow page-title__arrow_left js-left-arrow">
                  </div>
                {{/ifEquals}}

                {{ helloTitle.secondLine }}

                {{#ifEquals helloTitleVariant 0 }}
                  <div class="page-title__arrow-block page-title__arrow-block_right-to-left page-title__arrow-block_mobile">
                    <img src="/img/right-arrow.svg" alt="" class="page-title__arrow page-title__arrow_right js-right-to-left-arrow">
                  </div>
                {{/ifEquals}}
              </span>
            </h1>
            <!-- /.page-title -->
            <button class="accent-button" data-scroll-to="write-to-us" data-scroll-offset="60">
              <span class="accent-button__text">{{ lang 'cta_button' }}</span>
            </button>
            <!-- /.accent-button -->
          </div>
          <!-- /.page-title-block -->
        </div>
        <!-- /.hello-section__content -->
        <div class="page-menu bottom-screen-offset js-hello-section-page-menu">
          {{#if advantages.length}}
          <a href="/#why-us" class="page-menu__item">
            {{ lang 'why_us' }}
          </a>
          <!-- /.page-menu__item -->
          {{/if}}
          <a href="/#portfolio" class="page-menu__item" data-scroll-offset="60">
            {{ lang 'portfolio' }}
          </a>
          <!-- /.page-menu__item -->
        </div>
        <!-- /.page-menu -->
      </div>
      <!-- /.hello-section__wrap -->
    </div>
    <!-- /.container-size -->
  </section>
  <!-- /.hello-section -->
  {{#if advantages.length}}
    <section id="why-us" class="advantages-section js-advantages-section">
      <div class="container-size">
        <div class="advantages-section__wrap">
          {{#each advantages as |advantage|}}
            <div class="advantages-section__item-wrap js-advantage-item-wrap">
              <div class="advantage advantages-section__item js-advantage-item {{#if advantage.accent }} advantage_accent {{/if}}">
                <h2 class="advantage__title">
                  {{#each advantage.title as |titleLine|}}
                    <div class="advantage__line-of-title">
                      {{ titleLine }}
                    </div>
                    <!-- /.advantage__line-of-title -->
                  {{/each}}
                </h2>
                <!-- /.advantage__title -->
                {{#if advantage.subtitle.length}}
                  <div class="advantage__subtitle subtitle">
                    {{#each advantage.subtitle as |subtitleLine|}}
                      <div class="advantage__line-of-subtitle">
                        {{ subtitleLine }}
                      </div>
                      <!-- /.advantage__line-of-subtitle -->
                    {{/each}}
                  </div>
                  <!-- /.advantage__subtitle -->
                {{/if}}
              </div>
              <!-- /.advantage -->
            </div>
            <!-- /.advantages-section__item-wrap -->
          {{/each}}
        </div>
        <!-- /.advantages-section__wrap -->
      </div>
      <!-- /.container-size -->
    </section>
    <!-- /.advantages-section -->
  {{/if}}
  <section id="portfolio" class="portfolio-section js-portfolio-section">
    {{#each projects as |project|}}
      <div class="portfolio-item portfolio-section__item home-page__portfolio-item">
        <div class="container-size">
          <div class="home-page__header">
            <div class="portfolio-header">
              <a href="/portfolio" class="subtitle portfolio-header__subtitle">
                {{ ../lang 'last_projects' }}
                <span class="accent-slash">/</span>
              </a>
              <!-- /.subtitle -->
              <a href="/portfolio/{{ project.slug }}" class="page-title page-title_free-transform page-title_mini page-title_link portfolio-header__title portfolio-header__title_mini">
                {{ project.title }}
              </a>
              <!-- /.page-title -->
              <div class="portfolio-descr">
                <strong class="portfolio-descr__type">{{ ../lang project.type_name }}.</strong>
                <span class="portfolio-descr__main-text">{{ project.descr }}</span>
              </div>
              <!-- /.portfolio-descr -->
            </div>
            <!-- /.portfolio-header -->
          </div>
          <!-- /.home-page__header -->
        </div>
        <!-- /.container-size -->
        <div class="portfolio-item__intro-images home-page__intro-images {{iifEquals project.type_id 1 'portfolio-item__intro-images_desktop only-desktop' '' }}">
          <div class="portfolio-item__intro-gallery home-page__intro-gallery home-portfolio-images swiper-container {{iifEquals project.type_id 1 'home-portfolio-images_desktop desktop-gallery' 'home-portfolio-images_mobile mobile-gallery js-dys-mobile-gallery-top-offset' }}" data-portfolio-gallery="{{ @index }}" data-space-between="{{iifEquals project.type_id 1 '67' '56' }}" data-increment-indent {{{iifEquals project.type_id 1 '' 'style="--margin-top: 2.1rem;"' }}}>
            <div class="swiper-wrapper">
              {{#each introImagesForFrontDesktop as |intro_image|}}
                <div class="home-portfolio-images__slide swiper-slide">
                  <img {{{ intro_image }}} alt="" class="intro-images__image portfolio-shadow">
                </div>
                <!-- /.swiper-slide -->
              {{/each}}
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.portfolio-item__intro-gallery -->
        </div>
        <!-- /.portfolio-item__intro-images -->
        {{#ifEquals project.type_id 1}}
          <div class="portfolio-item__intro-images home-page__intro-images only-mobile">
            <div class="portfolio-item__intro-gallery home-page__intro-gallery home-portfolio-images swiper-container home-portfolio-images_mobile mobile-gallery" data-portfolio-gallery="{{ @index }}_mobile" data-space-between="56" data-increment-indent>
              <div class="swiper-wrapper">
                {{#each ../introImagesForFrontMobile as |intro_image|}}
                  <div class="home-portfolio-images__slide swiper-slide">
                    <img {{{ intro_image }}} alt="" class="intro-images__image portfolio-shadow">
                  </div>
                  <!-- /.swiper-slide -->
                {{/each}}
              </div>
              <!-- /.swiper-wrapper -->
            </div>
            <!-- /.portfolio-item__intro-gallery -->
          </div>
          <!-- /.portfolio-item__intro-images -->
        {{/ifEquals}}
        <div class="container-size">
          <div class="container-center">
            <a href="/portfolio/{{ project.slug }}" class="accent-button accent-button_big">
              <span class="accent-button__text">{{ ../lang 'view_in_portfolio' }}</span>
            </a>
            <!-- /.accent-button -->
          </div>
          <!-- /.container-center -->
        </div>
        <!-- /.container-size -->
      </div>
      <!-- /.portfolio-item -->
    {{/each}}
  </section>
  <!-- /.portfolio-section -->
  <section id="write-to-us" class="write-to-us-section home-page__write-to-us-section">
    <div class="container-size">
      <div class="home-page__write-to-us">
        {{> write_to_us_form}}
      </div>
      <!-- /.home-page__write-to-us -->
    </div>
    <!-- /.container-size -->
  </section>
  <!-- /.write-to-us-section -->
</main>
<!-- /.home-page -->