<main class="portfolio-item-page">
  <div class="portfolio-item-page__wrap">
    <div class="container-size">
      <div class="portfolio-item-page__header">
        <div class="portfolio-header portfolio-item-page__header">
          <a href="/portfolio" class="subtitle portfolio-header__subtitle">
            {{ lang 'portfolio' }}
            <span class="accent-slash">/</span>
          </a>
          <!-- /.subtitle -->
          <h1 class="page-title page-title_free-transform portfolio-header__title">
            {{ project.title }}
          </h1>
          <!-- /.page-title -->
          <div class="portfolio-descr portfolio-header__descr">
            <strong class="portfolio-descr__type">{{ lang project.type_name }}.</strong>
            <span class="portfolio-descr__main-text">{{ project.descr }}</span>
          </div>
          <!-- /.portfolio-descr -->
          <div class="portfolio-header__links">
            <a href="{{ project.to_link }}" class="text-link text-link_independent portfolio-header__link">
              <span class="inline-click-extender">{{ project.to_link_text }}</span>
            </a>
            <a href="#about-creating" class="text-link text-link_independent portfolio-header__link" data-scroll-offset="70">
              <span class="inline-click-extender">{{ project.creating_text }}</span>
            </a>
            {{#if project.demo_id}}
              <a href="#" class="text-link text-link_independent portfolio-header__link">
                <span class="inline-click-extender">{{ lang 'demo' }}</span>
              </a>
            {{/if}}
          </div>
          <!-- /.portfolio-header__links -->
        </div>
        <!-- /.portfolio-header -->
      </div>
      <!-- /.portfolio-item-page__header -->
    </div>
    <!-- /.container-size -->
    <div class="portfolio-item-page__intro-images js-portfolio-intro-images {{iifEquals project.type_id 1 'portfolio-item-page__intro-images_desktop' '' }}">
      <div class="portfolio-item-page__intro-gallery intro-images swiper-container {{iifEquals project.type_id 1 'intro-images_desktop' 'intro-images_mobile' }}" data-portfolio-gallery="1">
        <div class="swiper-wrapper">
          {{#each intro_images as |intro_image|}}
            <div class="intro-images__slide swiper-slide">
              <img {{{ intro_image }}} alt="" class="intro-images__image portfolio-shadow js-intro-image">
            </div>
            <!-- /.swiper-slide -->
          {{/each}}
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.portfolio-item-page__intro-gallery -->
    </div>
    <!-- /.portfolio-item-page__intro-images -->
  </div>
  <!-- /.portfolio-item-page__wrap -->
  <div id="about-creating" class="portfolio-item-page__content js-portfolio-content">
    {{#each project.text.blocks as |block|}}
      {{{textPartial block.type block.data }}}
    {{/each}}
  </div>
  <!-- /.portfolio-item-page__content -->
</main>
<!-- /.portfolio-item-page -->