{{#if project.demo_url}}
  {{> demo_pop_up demoPopUp}}
{{/if}}

<main class="portfolio-item portfolio-item-page page-bottom-offset">
  <div class="portfolio-item__wrap">
    <div class="container-size">
      <div class="portfolio-item__header">
        <div class="portfolio-header">
          <a href="{{linkPrefix}}/{{{project.type_plural_raw_name}}}" class="subtitle portfolio-header__subtitle">
            {{ project.type_plural_name }}
            <span class="accent-slash">/</span>
          </a>
          <!-- /.subtitle -->
          <h1 class="page-title page-title_inner-page page-title_free-transform portfolio-header__title">
            {{ project.title }}
          </h1>
          <!-- /.page-title -->
          <div class="portfolio-descr portfolio-header__descr">
            <span class="portfolio-descr__main-text">{{ project.descr }}</span>
          </div>
          <!-- /.portfolio-descr -->
          <div class="portfolio-header__links">
            {{#if project.to_link}}
              <a href="{{ project.to_link }}" target="_blank" class="text-link text-link_independent portfolio-header__link" {{#if project.demo_url}} onclick="return notifyAboutTheExistenceOfDemo();" {{/if}}>
                <span class="inline-click-extender">{{ project.to_link_text }}</span>
              </a>
            {{/if}}
            <a href="#about-project" class="text-link text-link_independent portfolio-header__link" data-scroll-offset="70" data-scroll-offset-media='{"550": 49}'>
              <span class="inline-click-extender">{{ project.creating_text }}</span>
            </a>
            {{#if project.demo_url}}
              <a href="{{ project.demo_url }}?demo_lang={{ currentLang.code_name }}" target="_blank" class="text-link text-link_independent portfolio-header__link">
                <span class="inline-click-extender">{{ lang 'demo' }}</span>
              </a>
            {{/if}}
          </div>
          <!-- /.portfolio-header__links -->
        </div>
        <!-- /.portfolio-header -->
      </div>
      <!-- /.portfolio-item__header -->
    </div>
    <!-- /.container-size -->
    <div class="portfolio-item__intro-images js-portfolio-intro-images {{iifEquals project.imagesView 'horizontal' 'portfolio-item__intro-images_desktop' '' }}">
      <div class="portfolio-item__intro-gallery intro-images swiper-container {{iifEquals project.imagesView 'horizontal' 'intro-images_desktop desktop-gallery' 'intro-images_mobile mobile-gallery' }}" data-portfolio-gallery="1" data-centered-slides data-is-loop data-with-intro-images data-up-and-down>
        <div class="swiper-wrapper">
          {{#each project.introImagesForFront as |intro_image|}}
            <div class="intro-images__slide swiper-slide">
              <img {{{ intro_image }}} alt="" class="intro-images__image portfolio-shadow js-intro-image" {{iifEquals ../project.imagesView 'horizontal' 'data-intro-image-desktop' 'data-intro-image-mobile' }}>
            </div>
            <!-- /.swiper-slide -->
          {{/each}}
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.portfolio-item__intro-gallery -->
    </div>
    <!-- /.portfolio-item__intro-images -->
  </div>
  <!-- /.portfolio-item__wrap -->
  <section id="about-project" class="portfolio-item__content portfolio-item__content_{{iifEquals project.imagesView 'horizontal' 'desktop' 'mobile' }} text-with-lists js-portfolio-content">
    {{#each project.text.blocks as |block|}}
      {{{textPartial block.type block.data }}}
    {{/each}}
  </section>
  <!-- /.portfolio-item__content -->
  <section class="write-to-us-section home-page__write-to-us-section">
    <div class="container-size">
      {{> write_to_us_form}}
    </div>
    <!-- /.container-size -->
  </section>
  <!-- /.write-to-us-section -->
</main>
<!-- /.portfolio-item -->